In [ ]:
import pandas as pd
from matplotlib.pyplot import matplotlib as matp

In [ ]:
covid2020P1 = pd.read_csv("/content/drive/MyDrive/Dados Covid/HIST_PAINEL_COVIDBR_2020_Parte1_03jun2022.csv",error_bad_lines=False,sep=";")
covid2020P2 = pd.read_csv("/content/drive/MyDrive/Dados Covid/HIST_PAINEL_COVIDBR_2020_Parte2_03jun2022.csv",error_bad_lines=False,sep=";")
covid2021P1 = pd.read_csv("/content/drive/MyDrive/Dados Covid/HIST_PAINEL_COVIDBR_2021_Parte1_03jun2022.csv",error_bad_lines=False,sep=";")
covid2021P2 = pd.read_csv("/content/drive/MyDrive/Dados Covid/HIST_PAINEL_COVIDBR_2021_Parte2_03jun2022.csv",error_bad_lines=False,sep=";")
covid2022 = pd.read_csv("/content/drive/MyDrive/Dados Covid/HIST_PAINEL_COVIDBR_2022_Parte1_03jun2022.csv",error_bad_lines=False,sep=";")
covid2020 = pd.concat([covid2020P1,covid2020P2])
covid2021 = pd.concat([covid2021P1,covid2021P2])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
covid2020.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [ ]:
covid2020.dtypes

regiao                     object
estado                     object
municipio                  object
coduf                       int64
codmun                    float64
codRegiaoSaude            float64
nomeRegiaoSaude            object
data                       object
semanaEpi                   int64
populacaoTCU2019          float64
casosAcumulado              int64
casosNovos                  int64
obitosAcumulado             int64
obitosNovos                 int64
Recuperadosnovos          float64
emAcompanhamentoNovos     float64
interior/metropolitana    float64
dtype: object

In [ ]:
covid2020.head(10)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,0.0,0.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,1.0,0.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,1.0,0.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,0.0,1.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,1.0,1.0,NaN
5,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-01,10,210147125.0,2,0,0,0,1.0,1.0,NaN
6,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-02,10,210147125.0,2,0,0,0,0.0,2.0,NaN
7,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-03,10,210147125.0,2,0,0,0,0.0,2.0,NaN
8,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-04,10,210147125.0,3,1,0,0,1.0,2.0,NaN
9,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-03-05,10,210147125.0,7,4,0,0,4.0,3.0,NaN

In [ ]:
covid2020['regiao'].unique()

array(['Brasil', 'Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste'],
      dtype=object)

Quando a região é Brasil, temos que os dados referentes a essa linha se refere ao Brasil inteiro.

In [ ]:
DadosBrasil2020 = covid2020[covid2020['regiao'] == 'Brasil']
DadosBrasil2021 = covid2021[covid2021['regiao'] == "Brasil"]
DadosBrasil2022 = covid2022[covid2022['regiao'] == 'Brasil']

Agora que temos os dados referentes ao Brasil todo, vamos pegar os dados referentes a somente as regiões do Brasil

In [ ]:
RegioesBrasil2020 = covid2020[covid2020['regiao'] != 'Brasil']
RegioesBrasil2021 = covid2021[covid2021['regiao'] != 'Brasil']
RegioesBrails2022 = covid2022[covid2022['regiao'] != 'Brasil']

In [ ]:
RegioesBrasil2020.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
158,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-25,9,1777225.0,0,0,0,0,NaN,NaN,NaN
159,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-26,9,1777225.0,0,0,0,0,NaN,NaN,NaN
160,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-27,9,1777225.0,0,0,0,0,NaN,NaN,NaN
161,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-28,9,1777225.0,0,0,0,0,NaN,NaN,NaN
162,Norte,RO,NaN,11,NaN,NaN,NaN,2020-02-29,9,1777225.0,0,0,0,0,NaN,NaN,NaN